body{
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Cabin', serif;
}

body p {
  font-size: 16px;
}

body button {
  font-size: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.logo {
  margin-top: 2%;
}

#navbar-example2 {
  border-bottom: 3px solid #f56600;
}

a{
  color: rgb(0, 0, 0);
}

#nav-botones {
  margin-right: 6%;
}
#cuerpo{
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  background-image: url(fotojum.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: rgb(255, 255, 255);
  border-bottom: 3px solid #f56600;
  margin-bottom: 0px;
  height: 100vh;
  min-height: 700px;
}

.transparency{
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#abstract {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
}

.lead {
  text-align: right;
  margin-top: 30px;
  margin-right: 20%;
}

.carrousel {
  width: 1000px;
  height: 450px;
  position: relative;
  margin-left: 13%;
  border: 3px solid black;
}

#galeria-fotos {
  background-image: url(galeria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: black;
  padding-bottom: 20%;
  height: 100vh;
  }

  .galery{
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid #fff;
    margin-bottom: 1%;
  }

  #Ent{
    border-bottom: 3px solid #f56600;
    color: rgb(0, 0, 0);
  }


#list-example{
  text-align: center;
  padding-top: 10%;
  background-image: url(fotoent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

}

#seccion-entrevistas {
  position: relative;
  background-color: white;
  height: 100vh;
  font-weight: bold;
  }

.scrollspy-example {
    position: relative;
    height: 400px;
    overflow: auto;
    margin-top: 8%;
}

.img-ent {
  margin-left: 45%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.padding-ent{
  padding-bottom: 18%;
}

#competencias {
  background-color: white;
  padding-top: 30px;
}

#title-comp {
  background-color: rgba(251, 139, 78, 0.7);
  margin-top: 2%;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

#text-comp {
  background-color: rgba(251, 139, 78, 0.2);
  margin-top: 0;
  padding-bottom: 10px;
  margin-bottom: 2%;
}

.img-comp {
border-radius: 50%;
margin-left: 35%;
height: 150px;
width: 150px;
}

.cuatro-competencias {
  margin-bottom: 2%;
  margin-left: 4%;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 5%;
}

.cuatro-competencias h4 {
  margin-top: 2%;
}

#habilidades {
  background-color: rgba(251, 139, 78, 1);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
}

#vocacion {
  background-color: grey;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
}

#div-hab{
  display: none;

}

#div-voc {
  display: none;

}

#button-uno {
  margin-right: 2%;
  float: right;
}

#button-dos {
  margin-right: 2%;
  float: right;
}

#desarrollo {
  background-color: rgb(254, 201, 128);
  padding-top: 30px;
  padding-bottom: 30px;
}

#desarrollo h1 {
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  color: white;
}

#text-desarrollo {
  margin-top: 2%;
  margin-left: 8%;
}

#text-desarrollo h4 {
  font-size: 30px;
  border-bottom: 3px solid #fff;
}

.card-diseño{
  padding-bottom: 15%;
}

.card-desarrollo {
  padding-bottom: 7%;
}

#text-diseño {
  margin-top: 2%;
  margin-left: 5%;
}

#text-diseño h4 {
  font-size: 30px;
  border-bottom: 3px solid #fff;
}


.button-desarrollo {
  width: 150px;
  height: 70px;
    background-color: white;
    color: black;
    border: 2px solid #566573;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 3%;
    margin-left: 38%;
    margin-bottom: 5%;
}

.button-desarrollo:hover {
    background-color: #707B7C;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    font-weight: bold;
}

.actividades {
  margin-left: 3%;
}

#tips{
  background-color: #F3F781;
  padding-bottom: 100px;
}

.img-tips{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: auto;
  padding-bottom: 5%;
}


#antes {
  display: none;
}
#durante {
  display: none;
}

#busqueda{
  background-image: url(busquedatrabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}

#titulo-busqueda {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 5%;
  padding-bottom: 5%;

}

.texto-busqueda {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 5%;

}

#curriculum {
  position: fixed;
  display: none;
  z-index: 1000;
  text-align: center;
  border: medium solid black;
  background-color: rgba(255, 255, 255, 0.8);
  height: 90%;
  margin-top: 5%;
  margin-left: 2%;
  width: 90%;
}

#sabana {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 999;
  top: 0;
}
